<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<main layout:fragment="content">
  <div class="container">
    <h1 class="mt-5">Welcome to Student Management System</h1>
    <p class="lead">This system allows you to manage students effectively.</p>
    <a href="/students" class="btn btn-primary">View Students</a>
  </div>
</main>
</body>
</html>
